<div class="ms-0 me-0 mw-100">

<nav class="navbar navbar-expand-lg navbar-light fw-bold fixed-top header-height bg-dark"collapseOnSelect expand="lg" variant="dark">
    <div class="container-fluid ms-5 me-5">
        <div class="ps-0 ps-xxl-5">
            <a class="navbar-brand" href="/">
            <img src="assets/images/whitelogo.png" class="img-fluid rounded float-start"  alt="logo" />
            </a>
          </div>
          <button class="navbar-dark navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-dark navbar-toggler-icon"></span>
          </button>   
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item pe-5 text-light">
            <a class="nav-link active text-light" aria-current="page" routerLink="/"  routerLinkActive="active">HOME</a>
          </li>
          <li class="nav-item pe-5 text-light">
            <a class="nav-link text-light" routerLink="/"  routerLinkActive="active">ABOUT US</a>
          </li>
          <li class="nav-item pe-5 text-light">
            <a class="nav-link text-light" routerLink="#">SERVICES</a>
          </li>
          <li class="nav-item pe-5 text-light">
            <a class="nav-link text-light" routerLink="/contact">CONTACT</a>
          </li>

          <!--<li class="nav-item pe-5 text-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CONTACT
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>

</div>